body {
  line-height: 1.5;
  color: white;
  background: url('../images/daft-sam.gif');
  font-family: 'lato',sans-serif;
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.container {
  width: 500px;
  margin: 40px;
  background: rgba(0,0,0,0.5);
  padding: 15px;
  border-radius: 10px;
}
 
h1{
	font-size: 50px;
	margin-bottom:-30px;
	font-family: 'Rokkitt',serif; 
}
h2{
	font-size: 20px;
}

a{
	color: #BFE35B;
	text-decoration: none;
}
